body {
    background-color: rgba(31, 48, 70, 0.801);
}

.jumbotron {
    text-align: center;
    background-color: rgb(63, 63, 156);
    margin-bottom: 8px;
}

.button {
    border-radius: 5px;
    background-color: rgba(6, 6, 112, 0.397);
}

#forecast-container {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

#temperature {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

#humidity {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

#wind-gust {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

#uv-index {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}